body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: url(../images/) no-repeat;
}

h1 {
    position: absolute;
    text-align: center;
    font-size: 75px;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    
}

h2 {
    position: absolute;
    text-align: center;
    font-size: 45px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
}

/*p {
    position: absolute;
    text-align: center;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}*/



.results {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    font-size: 20px;
}

